# Clojure
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.cpcache/
.clj-kondo/.cache

# ClojureScript / Shadow-CLJS
resources/public/js/compiled/
.shadow-cljs/
node_modules/

# Legacy Figwheel
/figwheel_server.log

# CSS
style.css.map

# OS
.DS_Store
Thumbs.db
.hgignore
.hg/

# Editor
.vscode/
*.swp
*.swo
*~

# Build artifacts
*.log
